> **Requirement**: Baca reqirement yang ada di Sub Bab 10 (day_10)

In [4]:
%classpath add jar libs/*

# 11. Data Ingestion 

 * [A. Pengenalan](#A.-Pengenalan)
 * [B. Mengimpor Data Dari File CSV](#B.-Mengimpor-Data-Dari-File-CSV)
 * [C. Mengekspor Data Dari File CSV](#C.-Ekspor-Data-Kedalam-File-CSV)
 * [D. Mengimpor Data Dari File Excel](#D.-Mengimpor-Data-Dari-File-Excel)
 * [E. Menggabungkan Data Dari Beberapa File](#E.-Menggabungkan-Data-Dari-Beberapa-File-Excel)
 * [F. Mengimpor Data Dari JSON](#F.-Mengimpor-Data-Dari-JSON)
 * [G. Mengimpor Data Dari Website Atau API](#G.-Mengimpor-Data-Dari-Website-Atau-API)
 * [H. Manipulasi Data Dari Database](#H.-Mengimpor-Data-Dari-Database)
 * [I. Ekstraksi Data Dari Website](#I.-Ektraksi-Data-Dari-Suatu-Website)

## A. Pengenalan 
Data Ingestion adalah tahap pertama dari analisis data adalah mendapatkan data kemudian memindahkan data dari sumber data (data source) ke dalam stored dari *analitics tools* yang akan kita gunakan.

Data frame dari Class *Table* mendukung untuk melakukan import dan export data dari berbagai data sumber(data source). Berikut ini format data sour yang didukung. 

| Format                         | Import | Export |
| :----------------------------- | :----- | :----- |
| CSV (and other delimited text) | Yes    | Yes    |
| JSON                           | Yes    | Yes    |
| Excel                          | Yes    | Yes    |
| RDBMS (via JDBC)               | Yes    |        |

## B. Mengimpor Data Dari File CSV

Biasanya data didapat dari suatu file dengan format tertentu atau dari database. Kode berikut ini adalah cara mengimpor data dari suatu file CSV.

**Listing 11-1.** Loading Data from CSV File

``` javascript
import tech.tablesaw.api.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  dfSmallgrade= Table.read().csv("datasets/smallgradesh.csv");

//print dataset structure
System.out.println(dfSmallgrade.structure());

//Menampilkan  ordo data frame Binatang 

System.out.println(dfSmallgrade.shape())

//Menampilkan  5 baris data yang pertama dari data frame Binatang 

System.out.println(dfSmallgrade.first(5))

//Menampilkan 5 baris data yang terakhir dari data frame Binatang

System.out.println(dfSmallgrade.last(5))

//Menampilkan semua data dari  frame Binatang

System.out.println(dfSmallgrade.print());

``` 
#### Latihan 11-1
Lakukan Eksekusi dari kode *Listing 10-1* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [7]:
import tech.tablesaw.api.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  dfSmallgrade= Table.read().csv("datasets/smallgradesh.csv");

//print dataset structure
System.out.println(dfSmallgrade.structure());

//Menampilkan  ordo data frame Binatang 

System.out.println(dfSmallgrade.shape());

//Menampilkan  5 baris data yang pertama dari data frame Binatang 

System.out.println(dfSmallgrade.first(5));

//Menampilkan 5 baris data yang terakhir dari data frame Binatang

System.out.println(dfSmallgrade.last(5));

//Menampilkan semua data dari  frame Binatang

System.out.println(dfSmallgrade.print());

      Structure of smallgradesh.csv
 Index  |  Column Name  |  Column Type  |
-----------------------------------------
     0  |         Name  |       STRING  |
     1  |        Grade  |       DOUBLE  |
2000 rows X 2 cols
  smallgradesh.csv
  Name    |  Grade  |
---------------------
  Marcia  |   82.4  |
  Kadeem  |   78.2  |
    Nash  |   79.3  |
 Noelani  |   83.2  |
 Noelani  |   87.4  |
   smallgradesh.csv
   Name     |  Grade  |
-----------------------
      Cody  |   80.1  |
 Geraldine  |    100  |
  Mercedes  |   84.9  |
    Lucius  |   69.1  |
     Linus  |   79.6  |
   smallgradesh.csv
   Name     |  Grade  |
-----------------------
    Marcia  |   82.4  |
    Kadeem  |   78.2  |
      Nash  |   79.3  |
   Noelani  |   83.2  |
   Noelani  |   87.4  |
      Neil  |   88.7  |
     Nelle  |   80.2  |
   Armando  |   95.1  |
   Illiana  |   76.5  |
      Neil  |   89.7  |
       ...  |    ...  |
     Adena  |   70.2  |
     Craig  |   64.9  |
  Isabelle  |   78.5  |
      Risa  |   74.3  |
   Emerson  |   67.5  |
      Cody  |   80.1  |
 Geraldine  |    100  |
  Mercedes  |   84.9  |
    Lucius  |   69.1  |
     Linus  |   79.6  |

null

## C. Ekspor Data Kedalam File CSV

Kita bisa melakukan penyimpanan dari hasil analisis data kita secara permanen. Atau kita akan melakukan transfer data ke dalam tools lain. Berikut ini adalah cara menympan data secara permanen ke dalam file CSV dari suatu data frame.

**Listing 11-2.** Export Data to CSV File
``` javascript

//Inisialisasi pembuatan data frame Animals dengan Kolom animals dan Kolom cuteness
Table Binatang = Table.create("Cute Animals")
                     .addColumns(StringColumn.create("AnimalName", daftarbinatang),
		                         DoubleColumn.create("Rating", gradekelucuan));

//Menyimpan data frame Binatang ke dalam file CSV
Binatang.write().csv("datasets/BinatangRate.csv");
```

#### Latihan 11-2
1. Lakukan Eksekusi dari kode *Listing 11-2*. dan amatilah hasilnya, 
2. Rubahlah kode *Listing 11-2*. diatas dengan menyimpan data dari data frame dengan nama file sesuai NIM anda. pada pada bidang baris dibawah ini dan.

In [15]:
%import static tech.tablesaw.aggregate.AggregateFunctions.*
%import tech.tablesaw.api.*
%import tech.tablesaw.columns.*
%import smile.clustering.*
%import smile.regression.*

tech.tablesaw.beakerx.TablesawDisplayer.register();

//Inisialisasi pembuatan data frame Animals dengan Kolom animals dan Kolom cuteness
Table Binatang = Table.create("Cute Animals")
                     .addColumns(StringColumn.create("AnimalName", daftarbinatang),DoubleColumn.create("Rating", gradekelucuan));

//Menyimpan data frame Binatang ke dalam file CSV
Binatang.write().csv("datasets/BinatangRate.csv");

cannot find symbol: cannot find symbol

In [ ]:
//Latihan 11-2.2

## D. Mengimpor Data Dari File Excel
 Kode berikut ini adalah cara mengimpor data dari suatu file Excel.

**Listing 11-3.** Import Data From Excel File
``` javascript
import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/data1.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

////Menampilkan struktur data frame dfDataXLS
System.out.println(dfDataXLS.structure());

//Menampilkan 5 baris data yang terakhir dari data frame dfDataXLS
System.out.println(dfDataXLS.first(10));

```
#### Latihan 11-3
 1. Lakukan Eksekusi dari kode *Listing 11-3* pada pada bidang baris dibawah ini dan amatilah hasilnya
 2. Ubahlah untuk *Latihan 11-3* menampilkan 10 baris data terakhir dari file data3.xlsx

In [18]:
//Latihan 11-3.1import tech.tablesaw.api.*;
import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/data1.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

////Menampilkan struktur data frame dfDataXLS
System.out.println(dfDataXLS.structure());

//Menampilkan 5 baris data yang terakhir dari data frame dfDataXLS
System.out.println(dfDataXLS.first(10));

         Structure of data1.xlsx
 Index  |  Column Name  |  Column Type  |
-----------------------------------------
     0  |        fname  |       STRING  |
     1  |          age  |      INTEGER  |
     2  |        grade  |      INTEGER  |
          data1.xlsx
   fname    |  age  |  grade  |
-------------------------------
     Baker  |   14  |     90  |
 Josephine  |   19  |    100  |
    Calvin  |   15  |     66  |
    Aretha  |   17  |     84  |
 Britanney  |   19  |     66  |
      Cruz  |   15  |     98  |
    Caesar  |   15  |     69  |
    Ariana  |   15  |     99  |
    Kieran  |   14  |     93  |
    Tanner  |   17  |    100  |

null

In [ ]:
//Latihan 11-3.2

## E. Menggabungkan Data Dari Beberapa File Excel

 Kode berikut ini adalah cara mengimpor data dari beberapa file Excel kedalam sebuah data frame

**Listing 11-4.** Import Data From Excel File

``` javascript

import static tech.tablesaw.aggregate.AggregateFunctions.*;

import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
XlsxReader reader = new XlsxReader();

//membaca file data1.xlsx
XlsxReadOptions file1 = XlsxReadOptions.builder("datasets/data1.xlsx").build();

//membaca file data1.xlsx
XlsxReadOptions file2 = XlsxReadOptions.builder("datasets/data2.xlsx").build();

//memasukan data file data1.xlsx ke dataframe data1
Table data1 = reader.read(file1);

//memasukan data file data2.xlsx ke dataframe data2
Table data2 = reader.read(file2);

//menampilkan data yang ada di dataframe data1
System.out.println(data1.last(5)); 

//menampilkan summary data yang ada di dataframe data1 kolom "grade"
System.out.println(data1.summarize("grade", mean, max, min).apply());

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = data1.append(data2);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.last(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("grade", mean, max, min).apply());

```
#### Latihan 11-4
 1. Lakukan Eksekusi dari kode *Listing 11-4* pada pada bidang baris dibawah ini dan amatilah hasilnya
 2. Rubah kode *Listing 11-4* untuk menggabungkan data yang ada pada file excel data1.xlsx, data2.xlsx dan data3.xlsx
 3. lakukan summarize dari latihan 11-4 point 2

In [21]:
//Latihan 11-4.1
import static tech.tablesaw.aggregate.AggregateFunctions.*;

import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
XlsxReader reader = new XlsxReader();

//membaca file data1.xlsx
XlsxReadOptions file1 = XlsxReadOptions.builder("datasets/data1.xlsx").build();

//membaca file data1.xlsx
XlsxReadOptions file2 = XlsxReadOptions.builder("datasets/data2.xlsx").build();

//memasukan data file data1.xlsx ke dataframe data1
Table data1 = reader.read(file1);

//memasukan data file data2.xlsx ke dataframe data2
Table data2 = reader.read(file2);

//menampilkan data yang ada di dataframe data1
System.out.println(data1.last(5)); 

//menampilkan summary data yang ada di dataframe data1 kolom "grade"
System.out.println(data1.summarize("grade", mean, max, min).apply());

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = data1.append(data2);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.last(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("grade", mean, max, min).apply());

          data1.xlsx
   fname    |  age  |  grade  |
-------------------------------
 Shaeleigh  |   18  |     82  |
    Vielka  |   14  |     80  |
   Shelley  |   14  |     75  |
   Merritt  |   15  |     73  |
   Desirae  |   16  |     69  |
               data1.xlsx summary
 Mean [grade]  |  Max [grade]  |  Min [grade]  |
------------------------------------------------
        82.79  |          100  |           65  |
          data1.xlsx
  fname    |  age  |  grade  |
------------------------------
   Flavia  |   16  |     66  |
   Pamela  |   17  |     70  |
    Wilma  |   17  |     87  |
     Jack  |   18  |     78  |
 Charissa  |   18  |     95  |
               data1.xlsx summary
 Mean [grade]  |  Max [grade]  |  Min [grade]  |
------------------------------------------------
       83.135  |          100  |           65  |

null

In [ ]:
//Latihan 11-4.2

## F. Mengimpor Data Dari JSON
JSON (JavaScript Object Notation) adalah format pertukaran data yang ringan, mudah dibaca dan ditulis oleh manusia, serta mudah diterjemahkan dan dibuat (generate) oleh komputer. Format ini dibuat berdasarkan bagian dari Bahasa Pemprograman JavaScript, Standar ECMA-262.  Kode berikut ini adalah cara mengimpor data dari suatu JSON.

**Listing 11-4.** Import Data From JSON
``` javascript
import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek JsonReader 
JsonReader reader = new JsonReader();

//membaca file product.json
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/product.json").build();

//memasukan data fileJSON ke dataframe 
Table tabeljson = reader.read(fileJSON);

//menampilkan structure dataframe tabeljson
System.out.println(tabeljson.structure());

//menampilkan 4 data terkhir pada dataframe tabeljson
System.out.println(tabeljson.first(4));
```
#### Latihan 11-4
Lakukan Eksekusi dari kode *Listing 10-4* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [17]:
//Latihan 10-4import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek JsonReader 
JsonReader reader = new JsonReader();

//membaca file product.json
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/product.json").build();

//memasukan data fileJSON ke dataframe 
Table tabeljson = reader.read(fileJSON);

//menampilkan structure dataframe tabeljson
System.out.println(tabeljson.structure());

//menampilkan 4 data terkhir pada dataframe tabeljson
System.out.println(tabeljson.first(4));

        Structure of product.json
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |      quantity  |      INTEGER  |
     1  |      _id.$oid  |       STRING  |
     2  |      supplier  |       STRING  |
     3  |     unit_cost  |       STRING  |
     4  |  product_name  |       STRING  |
                                              product.json
 quantity  |          _id.$oid          |      supplier      |  unit_cost  |        product_name        |
---------------------------------------------------------------------------------------------------------
      261  |  5968dd23fc13ae04d9000001  |        Wisozk Inc  |     $10.47  |        sildenafil citrate  |
      292  |  5968dd23fc13ae04d9000002  |   Keebler-Hilpert  |      $8.74  |  Mountain Juniperus ashei  |
      211  |  5968dd23fc13ae04d9000003  |  Schmitt-Weissnat  |     $20.53  |      Dextromathorphan HBr  |

null

## G. Mengimpor Data Dari Website Atau API

Cara yang lebih fleksibel dalam mengakses data source adalah langsung mengakses dari sumber data langsung dari internet atau suatu web site tertentu baik melalui API ada file yang ditempatkan secara public pada mesin tertentu.

**Listing 11-5.** Import Data Dari Website
``` javascript
import java.io.*;
import java.net.*;
import tech.tablesaw.api.*;
import tech.tablesaw.api.ColumnType;

tech.tablesaw.beakerx.TablesawDisplayer.register();

// Inisialisasi alamat URL
String alamatURL = "https://raw.githubusercontent.com/jtablesaw/tablesaw/master/data/bush.csv";

//inisialisasi objek data frame dfBush
Table dfBush; 

//mengakses alamatURL melalui objek input
try (InputStream input = new URL(alamatURL).openStream()) {

   //memasukan data hasil objek input ke dalam data frame dfBush  
   dfBush = Table.read().csv(input, "bush"); 
   
   //menampilkan structure dfBush
   System.out.println(dfBush.structure()); 

   //menampilkan 4 baris pertama data dataframe dfBush
   System.out.println(dfBush.first(4)); 
} catch (IOException e) {
  // TODO Auto-generated catch block
   e.printStackTrace();
}   
``` 
#### Latihan 11-5
Lakukan Eksekusi dari kode *Listing 11-5* pada pada bidang baris dibawah ini dan amatilah hasilnya

In [ ]:
//Latihan 11-5

## H. Mengimpor Data Dari Database

Kita juga bisa mengakses data source dari suatu database dengan perintah- perintah query.
Kode dibawah ini adalah cara menginisialisasi sebuah data frame dari suatu objek database. 
``` javascript
Table t = Table.read().db(ResultSet resultSet, String tableName);
```

Berikut ini adalah kode lengkap dengan menggunakan JDBC setup dari subuah database SQLLite. 

**Listing 11-6.** Import Data Dari Database
``` javascript
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.SQLException;
import java.util.Properties;
import java.sql.ResultSet;
import java.sql.Statement;

import tech.tablesaw.api.*;

Connection conn = null;
String DB_URL = "jdbc:sqlite:datasets/gradedata.db";

//if use windows OS use this statment
// String DB_URL ="jdbc:sqlite:D:\\db\\gradedata.db";


   try {
    
      Class.forName("org.sqlite.JDBC");

      conn = DriverManager.getConnection(DB_URL);    
      
        System.out.println("Koneksi ke SQLite DB has been established.");
          
    } catch ( Exception e ) {
    
       System.err.println( e.getClass().getName() + ": " + e.getMessage() );

       System.exit(0);
    }


Table dfTest = null; 

try (Statement stmt = conn.createStatement()) {
    
  String sql = "SELECT * FROM test";
    
  try (ResultSet results = stmt.executeQuery(sql)) {
      
       dfTest = Table.read().db(results, "test");
  }
    
}

System.out.println(dfTest.last(5)); 

```
#### Latihan 11-6
 1. Lakukan Eksekusi dari kode *Listing 11-6* pada pada bidang baris dibawah ini dan amatilah hasilnya. 

 2. Kemudian lakukan perubahan kode *Listing 11-6* untuk :
    * menampilkan jumlah record dari table test
    * menampilkan data record dari field person dengan nama John

In [ ]:
//Latihan 11-6.1

In [ ]:
//Latihan 11-6.2

## I. Ektraksi Data Dari Suatu Website

*Web scraping* adalah proses ekstrasi data dari sebuah website. Salah satu contoh web scraping adalah meng-copy daftar contact dari sebuah web atau mendapatka data produk berikut atributnya dari sebuah website e-commerce bahkan kita bisa melakukan analisa data kompetitor.

Berikut ini adalah kode lengkap melakukan web scraping dari suatu halaman website. 

**Listing 11-7.** Memperoleh data hasil ekstrasi dari sebuah website

``` javascript
import org.jsoup.Jsoup;
import org.jsoup.nodes.Document;
import org.jsoup.nodes.Element;

final Document document = Jsoup.connect("http://www.imdb.com/chart/top").get();

for (Element row : document.select("table.chart.full-width tr")) {

        final String JudulFilm = row.select(".titleColumn a").text();
        final String Rating = row.select(".imdbRating").text();

        System.out.println(JudulFilm + " -> Rating: " + Rating);
}

```
#### Latihan 11-7
 1. Lakukan Eksekusi dari kode *Listing 11-7* pada pada bidang baris dibawah ini dan amatilah hasilnya. 
 2. Kemudian lakukan perubahan kode *Listing 11-7* untuk :
    * Buat objek data frame untuk menampung data - data film hasil ektraksi 
    * Tampilkan 20 besar film - film terlaris dari data frame yang anda buat

In [ ]:
//Listing 11-7.1

In [ ]:
//Listing 11-7.2